################################################################################
# 音声ファイルを扱うために必要なライブラリ
################################################################################
librosa
pysoundfile
pyaudio

################################################################################
# ユーティリティ
################################################################################
numpy
pandas
matplotlib
scipy
datasets

################################################################################
# Transfomer
################################################################################
scikit-learn
transformers
torch
